@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import './tailwind.config.css';
