@theme {
  --color-primary-50: #fde7e8;
  --color-primary-100: #facfd1;
  --color-primary-200: #f5a0a3;
  --color-primary-300: #f06f73;
  --color-primary-400: #ea3e43;
  --color-primary-500: #df3033;
  --color-primary-600: #b92426;
  --color-primary-700: #931b1d;
  --color-primary-800: #6d1315;
  --color-primary-900: #470b0d;
  --color-primary-950: #2f0507;
}

body {
  @apply bg-white font-sans tracking-tight text-black antialiased;
}
