@theme {
  --color-primary-50: #fde7e8;
  --color-primary-100: #facfd1;
  --color-primary-200: #f5a0a3;
  --color-primary-300: #f06f73;
  --color-primary-400: #ea3e43;
  --color-primary-500: #df3033;
  --color-primary-600: #b92426;
  --color-primary-700: #931b1d;
  --color-primary-800: #6d1315;
  --color-primary-900: #470b0d;
  --color-primary-950: #2f0507;

  --animate-product-in: product-in 500ms ease-out backwards;
  @keyframes product-in {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-price-change: price-change 600ms ease-out both;
  @keyframes price-change {
    0% {
      filter: blur(0);
      transform: scale(1);
    }
    50% {
      filter: blur(5px);
      transform: scale(0.9);
    }
    100% {
      filter: blur(0);
      transform: scale(1);
    }
  }

  --animate-modal-in: modal-in 150ms ease-out forwards;
  @keyframes modal-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-stars: stars 5000ms linear infinite;
  @keyframes stars {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(30px) translateY(-30px);
    }
    75% {
      transform: translateX(-30px) translateY(-30px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
}

body {
  @apply bg-white font-sans tracking-tight text-black antialiased;
}
